*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: linear-gradient(to top left,blue,white);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: skyblue;
    border-radius: 10px;
    padding: 1.5rem;
    font-weight: 100;
    text-transform: uppercase;
    gap: 1rem;
    margin-bottom: 1rem;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
