<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="{% static 'reg.css' %}">
</head>
<body>
    <div class="wrap">
        <h1>Registration</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{var}}
            <input type="submit" value="Submit" id="sub">
        </form>
        <a href="{% url 'log' %}">Login</a>
    </div>
</body>
</html>